.main {
    flex-direction: row;
    height: 100%;
}
.zones {
    z-index: 2;
    flex-basis: 150px;
    height: 200px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 150px;
    height: 200px;
    z-index: 2;
}
.boxes {
    text-align: center;
    flex-grow: 1;
    border: 1px solid #CCC;
    max-height: 30%;
    margin: 10px;
    background-color: rgb(206, 248, 224);
    flex-basis: 25%;
} 

.close {
    font-weight: 600;
    padding: 0 5px;
    background: transparent;
    float: right;
}

@media only screen and (max-width: 768px) {

    .container {
        display: inline-block;
        flex-wrap: wrap;
        flex-basis: 150px;
        height: 200px;
        z-index: 2;
    } 
    
}